*{
    padding: 0%;
   margin-left:1.5%;
   justify-content: center; 
   
}


.container{
    width: 95%;
    height: 6800px;
    background-color: #f0f0f0; 
    display: flex;
    padding-top: 35px;
    padding-right: 10px;
    gap: 50px;

            
}
.box1{
width: 250px;
height: 1300px;
background-color: white;
}

.box2{
width: 700px;
height: 6700px;
background-color: #f0f0f0; 
}
.container1213{
        width: 650px;
        height: 330px;
        background-color: white;
        display: flex;
        justify-content: center;
        padding-top: 5px;
    }
    .box12{
        width: 410px;
        height: 320px;
        background-color: white;
        margin-left: 0%;
        
    }
    
    .box13{
        width: 230px;
        height: 320px;
        background-color: white;
       margin: 0%;
    }
     
    .hire{
        width: 120px;
        height: 30px;
        background-color: orange;
        text-align:center;
        padding-top: 10px;
        margin-left: 38px;
        border-radius: 5px;
    }

.My{
width: 700px;
height: 220px;
background-color: #f0f0f0;
margin-left: 0px;
padding-top: 40px;
font-family: Arial;
}

.web{
margin-left: 0px;
width: 700px;
height: 440px;
background-color: #f0f0f0;
display: flex;
}


.plains{
width: 700px;
height: 220px;
background-color: #f0f0f0;
margin-left: 0px;
padding-top: 40px;
font-family: Arial;
}

.silver{
width: 700px;
height: 430px;
background-color:#f0f0f0; 
font-family: Arial;
margin-left: 0px;
}

.recommendations{
width: 700px;
height: 220px;
background-color: #f0f0f0;
margin-left: 0px;
padding-top: 40px;
font-family: Arial;
}

.great{
width: 700px;
height: 380px;
background-color:#f0f0f0;
margin-left: 0px;

}

.education{
width: 700px;
height: 220px;
background-color: #f0f0f0;
margin-left: 0px;
padding-top: 40px;
font-family: Arial;
}


.certificate-container {
width: 650px;
margin-left: 0px;
max-width: 800px;
background-color: #ffffff;
padding: 20px;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.certificate-card {
display: flex;
justify-content: space-between;
padding: 15px;
border-bottom: 1px solid #e0e0e0;

}

.certificate-card:last-child {
border-bottom: none;
}

.left {
width: 35%;
}

.left h3 {
margin: 0;
font-size: 18px;
font-weight: bold;
}

.left p {
margin: 5px 0;
font-weight: bold;
}

.date {
background-color: #f0a500;
color: white;
padding: 4px 8px;
border-radius: 4px;
font-size: 12px;
}

.right {
width: 60%;
}

.right h4 {
margin: 0;
font-size: 16px;
color: #555555;
}

.right p {
margin-top: 10px;
font-size: 14px;
color: #666666;
}
.history{
width: 700px;
height: 220px;
background-color: #f0f0f0;
margin-left: 0px;
padding-top: 40px;
font-family: Arial;
}

.certificate-container2 {
width: 650px;
margin-left: 0px;
max-width: 800px;
background-color: #ffffff;
padding: 20px;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Portfolio{
width: 700px;
height: 220px;
background-color: #f0f0f0;
margin-left: 0px;
padding-top: 40px;
font-family: Arial;
}
.pics{
width: 700px;
height: 680px;
background-color:#f0f0f0;
font-family: Arial;
margin-left: 0px;

}
.blogs{
width: 700px;
height: 300px;
background-color:#f0f0f0;
font-family: Arial;
margin-left: 0px;
padding-top: 40px; 
}


.box99{
width: 700px;
height: 480px;
background-color:#f0f0f0;
margin-left: 0px;
}

.Container100{
width: 700px; 
height: 480px; 
background-color:white;
margin-left: 0px;
display: flex;
justify-content: center;

}
.full{
width: 350px; 
height: 450px; 
background-color:white;
padding-top: 18px;
}

.full2{
width: 350px; 
height: 450px; 
background-color:white;
}

.map{
width: 700px; 
height: 480px; 
background-color:#f0f0f0;
margin-left: 0px;
margin-top: 50px;
padding-top: 40px;
}